@model soft.Models.Membre

@{
    // ViewData["Title"] = "Create";
    ViewData["PageTitle"] = Model.Id == 0 ? "Create new membre" : "Edit membre";
    
}
<div class="row">
    <div class="col-md-9">
        <div class="widget p-4">
            <form asp-action="AddOrEdit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="Id" value="@Model.Id" />
               
                    <div class="row widget">
                    <div class="col-md-6">
                            <div class="mb-2">
                                <ejs-textbox id="Noms" placeholder="Noms" floatLabelType="Always" ejs-for="Noms"></ejs-textbox>
                                <span asp-validation-for="Noms" class="text-danger"></span>
                            </div>
                            <div class="mb-2">
                                <ejs-textbox id="prenoms" placeholder="Prenoms" floatLabelType="Always" ejs-for="Prenoms"></ejs-textbox>
                                <span asp-validation-for="Prenoms" class="text-danger"></span>
                            </div>
                            <div class="mb-2">
                                <ejs-textbox id="matricule" placeholder="Matricule" floatLabelType="Always" ejs-for="Matricule"></ejs-textbox>
                                <span asp-validation-for="Matricule" class="text-danger"></span>
                            </div>
                            <div class="mb-2">
                                <ejs-textbox id="fonction" placeholder="Fonction" floatLabelType="Always" ejs-for="Fonction"></ejs-textbox>
                                <span asp-validation-for="Fonction" class="text-danger"></span>
                            </div>
                       @*  <div class="mb-2">
                            <label class="form-label">Uploaod profil</label>
                            <input type="file" id="photo" name="photo" class="form-control" />
                           
                        </div> *@
                        </div>
                    <div class="col-md-6">

                        <div class="mb-2">
                            <ejs-dropdownlist id="structure1" dataSource="@ViewBag.Structures" allowFiltering="true" ignoreAccent="true" filterType="Contains" popupHeight="220px" placeholder="Structure" floatLabelType="Always" ejs-for="StructureId">
                                <e-dropdownlist-fields value="Id" text="Code"></e-dropdownlist-fields>

                            </ejs-dropdownlist>
                        </div>
                        <div class="mb-2">
                            <ejs-dropdownlist id="categorie" dataSource="@ViewBag.Categories" allowFiltering="true" ignoreAccent="true" filterType="Contains" popupHeight="220px" placeholder="Categorie" floatLabelType="Always" ejs-for="CategorieId">
                                <e-dropdownlist-fields value="Id" text="detailCategorie"></e-dropdownlist-fields>

                            </ejs-dropdownlist>

                        </div>

                        <div class="mb-2">

                            <ejs-textbox id="phone" placeholder="Phone" floatLabelType="Always" ejs-for="PhoneNumber"></ejs-textbox>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                       @*  <div class="mb-2">
                            <ejs-textbox id="m" placeholder="Montant" floatLabelType="Always" ejs-for="MembreMontantAdh"></ejs-textbox>
                            <span asp-validation-for="MembreMontantAdh" class="text-danger"></span>
                        </div> *@

                        <div class="mb-2">
                            <ejs-datepicker id="date" placeholder="Date" format="dd/MM/yyyy" floatLabelType="Always" ejs-for="DateAdhesion"></ejs-datepicker>
                            <span asp-validation-for="DateAdhesion" class="text-danger"></span>
                        </div>
                    </div>
                    </div>
                <ejs-button id="submit" cssClass="e-success align-center" type="submit" content="submit"></ejs-button>
            </form>
        </div>
    </div>
     <div class="col-md-3">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <div class="image  d-flex justify-content-center align-items-center" style="width:200px; height: 200px;">
                <img src="~/img/photos/@(Model.Matricule).png" alt="image" />
            </div>
        </div>
        
    </div>
    
</div>
