@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div window.onload="window.print();" style="width:100%; height:auto;">
    <table style="text-align:center; font-size:12px; width:90%; margin-left:auto; margin-right:auto;">

        <tr>
           <td>REPUBLIQUE DU CAMEROUN</td>
           <td rowspan="9" style="margin-left:20px; margin-right:20px; "><img src="/img/images/logo.png" alt="logo" /></td>
           <td>REPUBLIC OF CAMEROON</td>
        </tr>
        <tr>
            <td><span style="font-size:8px;">Paix-Travail-Patrie</span></td>
            <td><span style="font-size:8px;">Peace-Work-Fatherland</span></td>
        </tr>
        <tr>
            <td>MINISTERE DES FORETS ET DE LA FAUNE</td>
            <td>MINISTRY OF FORESTRY AND WILDLIFE</td>
        </tr>
        <tr>
            <td><span style="font-size:6px;">-----------------</span></td>
            <td><span style="font-size:6px;">-----------------</span></td>
        </tr>
        <tr>
            <td>SECRETARIAT D'ETAT</td>
            <td>SECRETARY OF STATE</td>
        </tr>
        <tr>
            <td><span style="font-size:6px;">-----------------</span></td>
            <td><span style="font-size:6px;">-----------------</span></td>
        </tr>
        <tr>
            <td>SECRETARIAT GENERAL</td>
            <td>SECRETARIAT GENERAL</td>
        </tr>
        <tr>
            <td><span style="font-size:6px;">-----------------</span></td>
            <td><span style="font-size:6px;">-----------------</span></td>
        </tr>
        <tr>
            <td>MUPEFOF</td>
            <td>MUPEFOF</td>
        </tr>
    </table>
    <div style="text-align:center; margin-left:auto; margin-right:auto; margin-top:40px;margin-bottom:40px; padding:5px; width:70%; background-color: rgba(156, 156, 163, 0.30);">
            <h1 style="font-size:20px; font-weight:bold;">FICHE INDIVIDUEL MEMBRE</h1>   
            <h4 style="font-size:15px;">INDIVIDUAL FORM OF MEMBER</h4>
    </div>
    <table style="text-align:left; font-size:20px; width:80%; margin-left:auto; margin-right:auto;">

        <tr>
            <td rowspan="7" style="width:300px; border-radius:10px; border: solid 1px #fff; text-align: center; margin-right: 20px; "><img src="/img/images/logo.png" alt="logo" /></td>
            <td><span style="font-size:18px;font-style:italic; margin-left:20px;" >Matricule</span></td>
            <td style="font-weight:bold;">M104234</td>
        </tr>
        <tr>
            <td><span style="font-size:14px;margin-left:20px;">Matricule Number :</span></td>
            <td></td>
        </tr>
        <tr>
            
            <td><span style="font-size:18px;font-style:italic; margin-left:20px;">Noms & Prenoms</span></td>
            <td style="font-weight:bold;">MOHAMADOU DAHIROU</td>
        </tr>
        <tr>
            <td><span style="font-size:14px;margin-left:20px;">Name & Surname :</span></td>
            <td></td>
        </tr>
        <tr>

            <td><span style="font-size:18px;font-style:italic; margin-left:20px;">Fonction :</span></td>
            <td style="font-weight:bold;">DIRECTEUR DHKK</td>
        </tr>
        <tr>
            <td><span style="font-size:14px;margin-left:20px;">Fonction :</span></td>
            <td></td>
        </tr>
        <tr>
            
            <td><span style="font-size:18px;font-style:italic; margin-left:20px;">Lieu d'Affectation :</span></td>
            <td style="font-weight:bold;">DIRECTION DU MMDFL</td>
        </tr>
        <tr>
            <td></td>
            <td><span style="font-size:14px;margin-left:20px;">Duty Post :</span></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td><span style="font-size:18px;font-style:italic; margin-left:20px;">Categorie :</span></td>
            <td style="font-weight:bold;">DELEGUE REGIONAL</td>
        </tr>
        <tr>
            <td></td>
            <td><span style="font-size:14px;margin-left:20px;">Category :</span></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td><span style="font-size:18px;font-style:italic; margin-left:20px;">Telephone :</span></td>
            <td style="font-weight:bold;">672 28 28 72</td>
        </tr>
        <tr>
            <td></td>
            <td><span style="font-size:14px;margin-left:20px;">Phone number :</span></td>
            <td></td>
        </tr>
        
    </table>
    <div style="text-align:center; margin-left:auto; margin-right:auto; margin-top:40px;margin-bottom:40px; padding:5px; width:70%; background-color: rgba(156, 156, 163, 0.30);">
            <h1 style="font-size:20px; font-weight:bold;">HISTORIQUE COTISATION</h1>   
            <h4 style="font-size:15px;">TRANSACTION HISTORY</h4>
    </div>
    <table style="text-align: center;
                            font-size: 20px;
                            font-weight: bold;
                            width: 80%;
                            margin-left: auto;
                            margin-right: auto;
                            padding:5px;" >
        <tr style="background-color: rgba(156, 156, 163, 0.30);">
            <td  style="text-align:left;
                                   padding-left: 5px;
                                   border: 1px solid #fff;">Periode</td>
             <td style="text-align:center;
                                   padding-left: 5px;
                                   border: 1px solid #fff;">Montant</td>
             <td style="text-align:center;
                                   padding-left: 5px;
                                   border: 1px solid #fff;">Date cotisation</td>
         </tr>
        
         <tr  style=" border: 1px solid #fff;">
            <td  style="text-align:left;
                                   padding-left: 5px;
                                   border: 1px solid #fff;">JANVIER 2024</td>
             <td style="text-align:center;
                                   padding-left: 5px;
                                   border: 1px solid #fff;">10000</td>
             <td style="text-align:center;
                                   padding-left: 5px;
                                   border: 1px solid #fff;">15/01/2024</td>
         </tr>
    
   </table>
</div>