@model soft.Models.Periodicite

@{
    // ViewData["Title"] = "Create";
    ViewData["PageTitle"] = Model.Id == 0 ? "Create new periode" : "Edit periode";
}
<div class="row">
    <div class="col-md-9">
        <div class="widget p-4">
            <form asp-action="AddOrEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="Id" value="@Model.Id" />
                <div class="mb-2">
                    <ejs-textbox id="mois" placeholder="Mois" floatLabelType="Always" value="@Model.mois" ejs-for="mois"></ejs-textbox>
                    <span asp-validation-for="mois" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <ejs-textbox id="annee" placeholder="Année" floatLabelType="Always" ejs-for="annee"></ejs-textbox>
                    <span asp-validation-for="annee" class="text-danger"></span>
                </div>
                
                <ejs-button id="submit" cssClass="e-success" type="submit" content="submit"></ejs-button>
            </form>
        </div>
    </div>
    <div class="col-md-3">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-calendar fa-2xl"  aria-hidden="true"></i>
            @ViewBag.Periode
        </div>
       
    </div>
</div>
